.v-btn--main-btn {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 0 16px 16px 0;
}

.v-application--is-ltr .v-data-table th.moveHead{
	text-align: center;
}
.openDialog, .moveCol {
	cursor: pointer;
}

.v-data-table td.moveCol {
	text-align: center;
}
.moveCol:hover{
	background: rgba(0,0,0,.12);
}

.v-data-table.listDataTable .v-data-table__wrapper{
	min-height: 100px;
	max-height: 60vh;
}
.v-data-table.listDataTable.recordsDataTable:not(.smallDataTable) .v-data-table__wrapper{
	min-height: 132px;
}

.v-data-table.listDataTable > .v-data-table__wrapper > table > thead > tr > th.parent-header,
.v-data-table--dense.listDataTable > .v-data-table__wrapper > table > thead > tr > th.parent-header {
	padding: 0 8px;
}

.v-data-table.listDataTable > .v-data-table__wrapper > table > thead > tr > th.parent-header,
.v-data-table--dense.listDataTable > .v-data-table__wrapper > table > thead > tr > th.parent-header {
	height: 32px;
}


.v-data-table--fixed-header.listDataTable.recordsDataTable:not(.smallDataTable) > .v-data-table__wrapper > table > thead > tr > th.parent-header {
  border-bottom: 0px !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.v-data-table--fixed-header.listDataTable.recordsDataTable:not(.smallDataTable) > .v-data-table__wrapper > table > thead > tr > th {
  border-bottom: 0px !important;
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  z-index: 2;
}
.v-data-table--fixed-header.listDataTable:not(.smallDataTable) > .v-data-table__wrapper > table > thead > tr:nth-child(2) > th {
  top: 80px;
}

.theme--light.v-data-table.listDataTable > .v-data-table__wrapper > table > tbody > tr.deleted-item:not(:last-child) > td:not(.v-data-table__mobile-row),
.theme--dark.v-data-table.listDataTable > .v-data-table__wrapper > table > tbody > tr.deleted-item:not(:last-child) > td:not(.v-data-table__mobile-row) {
	border-bottom: thin solid red;
	border-top: thin solid red;
}
.theme--light.v-data-table.listDataTable > .v-data-table__wrapper > table > tbody > tr.deleted-item:not(:last-child) > td:last-child,
.theme--dark.v-data-table.listDataTable > .v-data-table__wrapper > table > tbody > tr.deleted-item:not(:last-child) > td:last-child {
	border-bottom: thin solid red;
	border-top: thin solid red;
}