html, body, #app {
    margin: 0;
    height: 100%;
}

[v-cloak] { display: none }

.date-label {
    margin: 0;
    font-size: 0.8rem;
    color: #9e9e9e;
}

#extended-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 350px;
    z-index: 0;
}
#extended-toolbar .progress {
    position: absolute;
    bottom: -16px;
}
#extended-toolbar .edge {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
}

#hello {
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: white;
    font-family: "Product Sans";
    letter-spacing: 1px;
}

#form-holder {
    margin-top: 20px;
    margin-bottom: 0 !important;
    padding-bottom: 20px !important;
    overflow: visible;
}

#form {
    padding: 24px 0;
    transition: transform 0.5s ease-in-out;
}

.card-title {
    border-bottom: 4px solid #e91e63;
    margin-bottom: 20px;
}

#form .divider {
    height: 2px !important;
    width: 100% !important;
    margin: 24px 0 !important;
}

#bottom20 {
    margin-bottom: 20px;
}

#rnumber, #rnumber + label {
    color: #9e9e9e !important;
}

.blurred {
    pointer-events: none;
    transform: translate3d(0, 120%, 0)
}


.long-label textarea.materialize-textarea {
    padding-top: 1.6rem !important;
}

.input-field.field-is-required:not(.field-is-blank) label, .input-field.field-is-required:not(.field-is-blank) .date-label {
    color: #9e9e9e;
}

.input-field.field-is-required.field-is-blank label, .input-field.field-is-required.field-is-blank .date-label {
    color: red;
}

.input-field.field-is-blank .select-wrapper {
    color: #9e9e9e !important;
}

.input-field.field-show-required input[type=text]:not(.browser-default),
.input-field.field-show-required input[type=email]:not(.browser-default),
.input-field.field-show-required input[type=url]:not(.browser-default),
.input-field.field-show-required input[type=time]:not(.browser-default),
.input-field.field-show-required input[type=date]:not(.browser-default),
.input-field.field-show-required input[type=number]:not(.browser-default),
.input-field.field-show-required textarea.materialize-textarea {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.fixed-action-btn.changes-fab {
    position: fixed;
    right: 89px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}


/*copy from toast container */
.save-details-container {
    display: block;
    position: fixed;
    z-index: 10000;
}


@media only screen and (max-width: 600px) {
    .save-details-container {
        min-width: 100%;
        bottom: 0%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .save-details-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    .save-details-container {
        top: 10%;
        right: 7%;
        max-width: 86%;
    }
}