<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSOFIAv2 Form Builder</title>
    <!-- force no compatibility mode in IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <link rel="stylesheet" title="styles" href="materialize/css/materialize.min.css">
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- moment -->
	<script type="text/javascript" src="../moment/moment.js"></script>
    <!-- materialize -->
    <script src="materialize/js/materialize.js"></script>
    <!-- city oauth -->
    <script src="http://apps.cityoflewisville.com/COLSecurity/col_security.js"></script>
    <!-- mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="../components/form-section.js"></script>
	<script src="../components/form-build-section.js"></script>
	<script src="../components/form-field.js"></script>
	<script src="../components/date-field.js"></script>
	<script src="../components/checkbox-field.js"></script>
	<script src="../components/select-field.js"></script>
</head>

<body>
    <div id="app" class="grey lighten-3" v-cloak>
        <!-- colored toolbar -->
        <div id="extended-toolbar" class="deep-purple accent-2 z-depth-1">
            <div class="progress pink lighten-4" v-if="isSubmitting">
                <div class="indeterminate pink"></div>
            </div>
            <div class="progress pink lighten-4" v-else-if="isLoading">
                <div class="indeterminate pink"></div>
            </div>
            <div class="edge pink" v-else></div>
        </div>
        <!-- form -->
        <div id="form-holder" class="row grey lighten-3">
            <!-- welcome message -->
            <div id="hello" class="row center-align">{{ hello }}</div>
            <div class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3">
                <div id="form" class="row card z-depth-3" v-if="!isLoading">
                    <div class="col s10 offset-s1 card-title">
                        <h4 class="bold">PSOFIAv2 Form Builder</h4>
                    </div>

                    <div class="input-field col s12 l10 offset-l1">
                        <input id="formName" type="text" class="validate" v-model="formValues.formName">
                        <label for="formName">Form Name</label>
                    </div>
					
                    <div class="input-field col s12 l10 offset-l1">
                        <input id="viewFormAddress" type="text" class="validate" v-model="formValues.viewFormAddress">
                        <label for="viewFormAddress">View Form Address</label>
                    </div>
					
					<!--<div class="input-field col s12 l10 offset-l1">
                        <input id="formName" type="text" class="validate" v-model="formValues.tableName">
                        <label for="formName">Table Name</label>
                    </div>-->

<!-- ADD LOADING -->
					<select-field v-if="isSelect" :field="field" :v-set="vSet" :vs-options="vsOptions"></select-field>\
					<div class="input-field col s12 l10 offset-l1" id="bottom20">
                        <input id="department" type="text" class="validate autocomplete" v-model="formValues.department">
                        <label for="department">Department</label>
						<a class="waves-effect waves-light btn" v-if="formValues.department && !(formValues.DepartmentID)">Add New Department</a>
                    </div>
                    <div class="input-field col s12 l10 offset-l1">
                        <select id="department">
                            <option value="" selected>N/A</option>
                            <option v-for="dept in data.Departments" value="dept.DepartmentID">{{dept.DepartmentName}}</option>
<!-- ADD NEW DEPARTMENT MODAL -->
							<option>Add New</option>
							
                        </select>
                        <label>Department</label>
                    </div>

                    <div class="input-field col s12 l10 offset-l1">
						<input type="checkbox" class="filled-in" id="refreshOnSubmit" v-model="formValues.refreshOnSubmit" />
						<label for="refreshOnSubmit">Refresh After Submitting Form?</label>
                    </div>

                    <div class="col s12 divider grey lighten-2"></div>

					
					<!--MAKE A COMPONENT FOR EACH SECTION / SUBSECTION-->
					
                    <!-- General Section -->
                    <!--GENERAL SECTION-->
					
					<a class="waves-effect waves-light btn">Add New Subsection</a>
					
                    <!-- <div class="col s12 divider grey lighten-2"></div> -->

                    <!-- section -->
					<a class="waves-effect waves-light btn">Add New Section</a>
					
					<div class="input-field col s12 l10 offset-l1" id="bottom20">
                        <input id="department" type="text" class="validate autocomplete" v-model="formValues.department">
                        <label for="department">Department</label>
						<a class="waves-effect waves-light btn" v-if="formValues.department && !(formValues.DepartmentID)">Add New Department</a>
                    </div>
					
                    <div class="col s12 divider grey lighten-2"></div>

                    <!-- section -->
                </div>
            </div>
        </div>

        <div class="fixed-action-btn" v-on:click="submitForm()">
            <a class="btn-floating btn-large red" v-if="!isSubmitting">
              <i class="large material-icons">done</i>
            </a>
        </div>

    </div>

    <!-- source code -->
    <script type="text/javascript" src="app.js"></script>
</body>
