<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSOFIAv2 Form Builder</title>
    <!-- force no compatibility mode in IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- styles -->
    <!--<link rel="stylesheet" type="text/css" href="style.css" media="screen" />-->
    <!--<link rel="stylesheet" title="styles" href="materialize/css/materialize.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- moment -->
	<script type="text/javascript" src="../moment/moment.js"></script>
    <!-- materialize -->
    <!--<script src="materialize/js/materialize.js"></script>-->
    <!-- city oauth -->
    <script src="http://apps.cityoflewisville.com/COLSecurity/col_security.js"></script>
	
    <!-- mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <script src="../components/builder-form-data-v.js"></script>
    <script src="../components/builder-form-section-v.js"></script>
    <script src="../components/builder-text-v.js"></script>
    <script src="../components/builder-number-v.js"></script>
    <script src="../components/builder-checkbox-v.js"></script>
    <script src="../components/builder-select-v.js"></script>
    <script src="../components/builder-autocomplete-v.js"></script>
    <script src="../components/builder-combobox-v.js"></script>

	<script src="../components/builder-form-sub-section.js"></script>
	<script src="../components/builder-form-field.js"></script>
	<script src="../components/builder-form-field-min.js"></script>

</head>

<body class="grey lighten-3">
    <div id="app" v-cloak>
    <v-app>
        <!-- colored toolbar -->
        <v-toolbar dense flat dark color="indigo">
            <v-toolbar-title>PSOFIAv2 Form Builder</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title>{{userEmail}}</v-toolbar-title>
        </v-toolbar>
        <!-- form -->
        <v-container grid-list-md>
            <v-layout row wrap>
            <!--<div id="form-holder" class="row grey lighten-3">-->
                <!-- welcome message -->
                    <!--<div id="hello" class="row center-align">{{ hello }}</div>-->
                    <!--div class="col s12 m10 offset-m1">-->
                    <!--<v-form id="form" v-if="!isLoading">-->

    			<builder-form-data-v
    				v-if="(typeof data.FormData !='undefined')"
    				:form-data="data.FormData"
    				:departments="data.Departments">
    			</builder-form-data-v>
                            <!--<div class="col s12 divider grey lighten-2"></div>-->

        					
        					<!--MAKE A COMPONENT FOR EACH SECTION / SUBSECTION-->
        					
                            <!-- General Section -->
                            <!--GENERAL SECTION-->
        					
    			<builder-form-section-v v-for="s in data.FormSections"
    				:key="s.FormSectionID"
    				:section="s"
    				:sub-sections="getSubSections(s)"
    				:fields="getSectionFields(s)"
    				:field-editing="fieldEditing"
                    :form-defaults="formDefaults"
    				:all-sections="data.Sections"
    				:all-sub-sections="data.SubSections"
    				:all-field-types="data.FieldTypes"
    				:all-validation-sets="data.ValidationSets"
    			></builder-form-section-v>

                        <!-- section -->
    					
    			<v-flex xs12>
                    <v-card dark color="primary">
                        <v-card-text class="px-0">
                            <a class="waves-effect waves-light btn">Add New Section</a>
                        </v-card-text>
                    </v-card>
    			</v-flex>

                            <!-- section -->
                    <!--</v-form>-->
                    <!--</div>-->

                <!--<div class="fixed-action-btn" v-on:click="submitForm()">
                    <a class="btn-floating btn-large red" v-if="!isSubmitting">
                      <i class="large material-icons">done</i>
                    </a>
                </div>-->
            </v-layout>
        </v-container>
    </v-app>
    </div>

    <!-- source code -->
    <script type="text/javascript" src="app_v.js"></script>
</body>
